* {
    margin: 0;
    line-height: 1.5rem;

}

html {
    scroll-behavior: smooth;
}
:root{
    --clr-dark:#020617;

    --clr-light:#f8fafc;
    --clr-slate400:#94a3b8;
    --clr-slate600:#475569;
    --clr-slate800:#1e293b;
    --clr-rose:#e11d48;

    --clr-indigo:#4f46e5;

    /* sixes */
    --sizes-xxs:0.5rem;
    --sizes-xs:0.75rem;
    --sizes-sm:0.875rem;
    --sizes-base:1rem;
    --sizes-lg:1.125rem;
    --sizes-xl:.25rem;
    --sizes-2xl:1.5rem;
    --sizes-3xl:1.875rem;
    --sizes-4xl:2.25rem;
    --sizes-5xl:3rem;
    --sizes-6xl:3.75rem;
    --sizes-7xl:4.5rem;
    --sizes-8xl:6rem;
    --sizes-9xl:8rem;
    --sizes-10xl:10rem;

}

body {
    font-family: 'General Sans', sans-serif;
    background-color:#020617;
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;

}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
color: inherit;
}
a{
    color:var(--clr-rose);

}
strong{
    color: var(--clr-indigo);
}